<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CYM____trimFL2016_loads.Properties.Settings.ISU_Internal_CANConnectionString"
            connectionString="Data Source=???????;Initial Catalog=ISU_Internal_CAN;Persist Security Info=True;User ID=????;Password=????"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>